.post {
    background-color: white;
    margin-bottom: 20px;
    padding: 20px;
    width: 100px;
    border-radius: 8px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  }

  .post-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
  }
  
  .post-header p {
    margin: 0;
    font-weight: bold;
  }
  
  .post-text {
    margin-bottom: 10px;
  }
  



  .post-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 10px;
  }
  