.statistics-container {
    width: 80%;
    margin: 0 auto;
    text-align: center;
  }
  
  .chart-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  .chart {
    width: 100%;
    max-width: 600px;
    margin: 20px 0;
  }
  