.nav {
    background: linear-gradient(to left, #604d9e, #a27eb8, #aaa2d8);
     opacity: 0.8;
    color: white;
      position: sticky;
    margin: auto !important;
    flex: 1;
      display: flex;
      justify-content: space-between;
      align-items: center;
      height: 90px;
      top: 0;
      padding-right: 60px;
  }
  h1 {
    margin-left: 20px;
    font-size: 25px;
  }
  
  .nav__item{
    background: none;
    display: inline-block;
    margin: 0px 30px;
    color: #fff;
    font-size: 20px;
  }
  
  a{
    text-decoration: none;
    color: #fff;
  }
   /* za hover preko stranica*/
  .nav li:after {
    content: "";
    position: absolute;
    width: 0%;
    height: 1px;
    display: block;
    transition: all 0.5s ease;
    bottom: 25%;
  
  }
  .nav li:hover::after {
    width: 7%;
    height: 1px;
    background-color: #fff;
  } 
  
  .logout-button {
    background-color: #aaa2d8; 
    color: white; 
    border: none; 
    border-radius: 10px;
    font-size: 18px;
    padding: 8px 12px; 
    cursor: pointer; 
    transition: background-color 0.3s ease; 
  }
  
  .logout-button:hover {
    background-color: #a27eb8; 
  }